@use './variables/'as *;

.badge {
  block-size: auto;
  inline-size: 360px;
  margin: 1% auto;
  border: 1px solid $color-border;
  color: $color-text;

  &__top {
    inline-size: 100%;
    block-size: 5vh;
    background-color: $color-border;
  }

  &__user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;

    & img {
      inline-size: 20%;
      border-radius: 50%;
    }
  }

  &__data {
    background-color: $color-border;
    text-align: center;

    &-user {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__footer {
    text-align: center;
  }
}