@use './variables/'as *;

.navigation {
  inline-size: 360px;
  margin: 1% auto;
    img {
      inline-size: 30px;
      }

  &__text {

    &-1 {
      color: $color-text;
      margin: 0 5px;
    }
  }
}