.navigation {
  inline-size: 100%;

  a {
    text-decoration: none;

    img {
      inline-size: 40px;
    }
  }


  &__text {

    &-1 {
      color: aquamarine;
      margin: 0 5px;
    }

    &-2 {
      color: lightcoral;
    }
  }
}